<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CopyHtmlWebSite.MainApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CopyHtmlWebSite.MainApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CopyHtmlWebSite.MainApp.Properties.Settings>
            <setting name="SaveTo" serializeAs="String">
                <value />
            </setting>
            <setting name="CssFolder" serializeAs="String">
                <value>css</value>
            </setting>
            <setting name="JsFolder" serializeAs="String">
                <value>js</value>
            </setting>
            <setting name="ImagesFolder" serializeAs="String">
                <value>images</value>
            </setting>
            <setting name="FontsFolder" serializeAs="String">
                <value>fonts</value>
            </setting>
            <setting name="IgnoreAttributes" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreFile" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreContent" serializeAs="String">
                <value />
            </setting>
        </CopyHtmlWebSite.MainApp.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <CopyHtmlWebSite.MainApp.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>Small Start</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>Beta</value>
            </setting>
            <setting name="Owner" serializeAs="String">
                <value>Huỳnh Việt An</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>an.huynhviet@hotmail.com</value>
            </setting>
        </CopyHtmlWebSite.MainApp.Properties.Settings>
    </applicationSettings>
</configuration>