<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CopyHtmlWebSite.MainApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CopyHtmlWebSite.MainApp.Properties.Settings>
            <setting name="SaveTo" serializeAs="String">
                <value />
            </setting>
            <setting name="Css" serializeAs="String">
                <value />
            </setting>
            <setting name="Js" serializeAs="String">
                <value />
            </setting>
            <setting name="Image" serializeAs="String">
                <value />
            </setting>
            <setting name="Font" serializeAs="String">
                <value />
            </setting>
        </CopyHtmlWebSite.MainApp.Properties.Settings>
    </userSettings>
</configuration>